<ons-page class="gray-b">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Ayuda</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div class="padding-2x list-big-items" style="margin-top: 1em;">
    <ons-list style="background: transparent;">
      <!-- <ons-list-header class="gray-header">Tu último servicio</ons-list-header>
      <ons-list-item>
        <ons-col class="mid-icon" width="80px">
          <img src="assets/img/user_placeholder.png" style="width: 60%; border-radius: 50%;" />
        </ons-col>
        <ons-col>
          <ons-row class="bold">
            <ons-col>
              07-09-2017
            </ons-col>
            <ons-col style="text-align: center;">
              4:25pm
            </ons-col>
            <ons-col style="text-align: center;">
              $510.00
            </ons-col>
          </ons-row>
          <ons-row>
            Venta de cilindro
          </ons-row>
        </ons-col>
      </ons-list-item>
      <ons-list-item>
        Reportar un problema con este servicio
      </ons-list-item>
      <ons-list-header class="gray-header">Temas adicionales</ons-list-header>-->
      <ons-list-item tappable>
        <div>Preguntas frecuentes</div>
      </ons-list-item>
      <ons-list-item tappable>
        <div>Qué hacer en caso de fuga</div>
      </ons-list-item>
      <ons-list-item tappable>
        <div>Guía de app gaspasa</div>
      </ons-list-item>
      <ons-list-item tappable>
        <div>Medidor electronico</div>
      </ons-list-item>
      <ons-list-item tappable>
        <div>Más</div>
      </ons-list-item>
    </ons-list>
  </div>
</ons-page>