<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Pagos</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div class="padding">
    <ons-row>
      Estos datos son de tu ultimo pago con paga facil
    </ons-row>
    <table class="table">
        <thead>
          <tr>
            <th>Cargo</th>
            <th>Fecha</th>
            <th>Importe</th>
            <th>Uso sis.</th>
            <th>Total</th>
            <th>Estatus</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>01/01/2017</td>
            <td>$777.00</td>
            <td>$11.00</td>
            <td>$777.00</td>
            <td>Pagado</td>
          </tr>
          <tr>
            <td>1</td>
            <td>01/01/2017</td>
            <td>$777.00</td>
            <td>$11.00</td>
            <td>$777.00</td>
            <td>Pagado</td>
          </tr>
          <tr>
            <td>1</td>
            <td>01/01/2017</td>
            <td>$777.00</td>
            <td>$11.00</td>
            <td>$777.00</td>
            <td>Pagado</td>
          </tr>
        </tbody>
      </table>
  </div>
</ons-page>