<ons-page ng-controller="PromotionsController as promotion" ons-init="promotion.init($event)" class="gray-b">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Promociones</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div>
    <ons-carousel var="carousel" fullscreen swipeable auto-scroll overscrollable ons-postchange="promotion.selectedPromotion = $event.activeIndex">
      <ons-carousel-item ng-repeat="p in promotion.promotions" style="display: flex;">
        <div style="display: flex; align-items: center; width: 100%;">
          <img ng-src="{{ p.url }}" style="width: 100%;"/>
        </div>
      </ons-carousel-item>
    </ons-carousel>
    <div style="position: absolute; left: 0; right: 0; bottom: 1.5em;">
      <div class="dotstyle dotstyle-fillup">
        <ul>
          <li ng-repeat="p in promotion.promotions"
              ng-class="{ 'current' : $index === promotion.selectedPromotion }">
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ons-page>