<ons-page class="flexbox-container gray-b" ng-controller="SettingsCIController as settingsCI" ons-init="settingsCI.init($event)">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()" ng-show="mySplitter">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
      <ons-back-button ng-hide="mySplitter">Inicio</ons-back-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Configuración</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div class="flex-fill-vertically padding">
    <ons-list style="background: transparent;">
      <ons-list-item>
        <ons-switch class="orange-blue" ng-model="settingsCI.config.status_facturas" style="margin-right: 16px;"></ons-switch>
        <label class="center">
          Facturación automática
        </label>
      </ons-list-item>
      <ons-list-item>
        <ons-switch class="orange-blue" ng-model="settingsCI.config.status_promociones" style="margin-right: 16px;"></ons-switch>
        <label class="center">
          Envío de promociones
        </label>
      </ons-list-item>
    </ons-list>
  </div>
  <div class="bottom">
    <ons-row ng-show="mySplitter">
      <ons-button
            class="margin-top margin-bottom orange-b"
            modifier="large" 
            style="font-size: 1em;"
            ng-click="settingsCI.save()">
        Guardar 
      </ons-button>
    </ons-row>
    <ons-row ng-hide="mySplitter">
      <ons-button
            class="margin-top margin-bottom orange-b"
            modifier="large" 
            style="font-size: 1em;"
            ng-click="settingsCI.next()">
        Siguiente
        <ons-icon icon="fa-caret-right" style="margin-left: 8px; font-size: 1.2em;"></ons-icon>
      </ons-button>
    </ons-row>
  </div>
</ons-page>