<ons-page ng-controller="HomeController as home" class="flexbox-container gray-b" ons-init="home.init($event)">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Inicio</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <ons-row class="padding-2x-h" style="padding-top: 0.5em;">
    <ons-button modifier="large" class="orange-b" style="font-size: 18px; margin: 0.5em 0;" ng-click="report()">
      Reportar fugas
      <ons-icon icon="fa-phone" style="margin-left: 8px; font-size: 1.2em;"></ons-icon>
    </ons-button>
  </ons-row>
  <ons-row class="padding-2x-h" style="margin: 1em 0;">
    <div style="width: 100%; height: 2px; background: gray;"></div>
  </ons-row>
  <ons-row class="padding-2x-h" style="margin-bottom: 0.5em;">
    <div class="title-header" style="display: inline-block; width: auto; padding-right: 8px; min-width: 196px; box-sizing: border-box;">
      <div class="header-icon">
        <img src="assets/img/logo-white.png" style="width: 16px;" />
      </div>
      Precio: $ {{ home.getPrice() }} MXN
    </div>
    <div style="display: inline-block; margin: 0 auto">
      <ons-icon icon="fa-minus" class="plus-minus-circle" ng-click="home.addQuantity(-1)"></ons-icon>
      <span style="font-size: 1.5em; padding: 0 0.5em;">{{ home.order.cantidad }}</span>
      <ons-icon icon="fa-plus" class="plus-minus-circle" ng-click="home.addQuantity(1)"></ons-icon>
    </div>
  </ons-row>
  <ons-row class="padding-2x-h">
    <!--<ons-col width="50%" style="font-size: 1.5em; padding-left: 0.5em;">
      <ons-row align="center">
        <ons-icon icon="fa-minus" ng-click="home.addQuantity(-1)"></ons-icon>
        <span style="font-size: 1.5em; padding: 0 0.5em;">{{ home.order.cantidad }}</span>
        <ons-icon icon="fa-plus" ng-click="home.addQuantity(1)"></ons-icon>
      </ons-row>
    </ons-col>-->
    <ons-col>
      <ons-row align="center">
        <ons-switch class="orange-blue" style="margin-right: 16px;" ng-model="home.order.aditivo"></ons-switch>
        Aditivo
      </ons-row>
    </ons-col>
  </ons-row>
  <ons-carousel var="carousel" ons-postchange="home.cylinderChanged($event.activeIndex)" swipeable auto-scroll overscrollable centered class="flex-fill-vertically">
    <ons-carousel-item ng-repeat="cylinder in home.cylinders">
      <ons-page>
        <div style="text-align: center; height: 100%;">
          <div style="height: 100%;">
            <!--<div class="cylinder-label">{{ cylinder.capacidad_cil }} Kg.</div>-->
            <img class="bottom-fixed" ng-src="assets/img/{{ cylinder.capacidad_cil }}.png" style="max-height: 80%; margin: 0 auto; max-width: 180px;"/>
            <img src="assets/img/adp.png" ng-show="home.order.aditivo" style="    
                width: 40px;
                background: white;
                border-radius: 50%;
                padding: 5px;
                margin: 0 auto;
                margin-bottom: -130px;
                z-index: 1000;
                position: relative"/>
          </div>
        </div>
      </ons-page>
    </ons-carousel-item>
  </ons-carousel>
  <div class="bottom" style="padding: 0; padding-bottom: 1em;">
    <div class="dotstyle dotstyle-fillup">
      <ul>
        <li ng-repeat="cylinder in home.cylinders"
            ng-class="{ 'current' : cylinder === home.selectedCylinder }">
          <a href="#"></a>
        </li>
      </ul>
    </div>
    <ons-row class="padding-2x-h">
      <div style="text-align: center; width: 100%; margin-top: 16px;">
        Con aditivo <img src="assets/img/adp.png" style="width: 40px; border-radius: 50%; vertical-align: middle;"/> tienes mas rendimiento
      </div>
    </ons-row>
    <ons-row class="padding-2x-h">
      <ons-button
            class="margin-top orange-b"
            modifier="large" 
            style="font-size: 1em;" 
            ng-click="home.orderCylinder()">
          Pedir cilindro
          <ons-icon icon="fa-caret-right" style="margin-left: 8px; font-size: 1.2em;"></ons-icon>
      </ons-button>
    </ons-row>
  </div>
</ons-page>