<ons-page ng-controller="OrderController as order" class="flexbox-container">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Inicio</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div class="flex-fill-vertically container-center row-separation-sm" style="flex-direction: column">
    <ons-row>
      <ons-col width="50%" class="margin-auto">
        <img class="margin-auto" src="assets/img/pipe.png" />
      </ons-col>
      <div class="padding-2x" style="background: #cacaca;">
        <div class="margin-auto" style="font-size: 1.5em;">
          Te visitaremos el
        </div>
        <div class="margin-auto bold blue" style="font-size: 1.7em; padding: 0 16px;">
          Martes 8 de agosto de 2 a 3 pm
        </div>
      </div>
    </ons-row>
    <ons-row>
      <ons-col>
        <ons-row>
          <div class="phone-circle orange" ng-click="schedule()">
            <ons-icon icon="fa-history"></ons-icon>
          </div>
        </ons-row>
        <ons-row>
          <div style="margin: 0 auto; text-align: center;">Programar ahora</div>
        </ons-row>
      </ons-col>
      <ons-col>
        <ons-row>
          <div class="phone-circle red">
            <ons-icon icon="fa-phone"></ons-icon>
          </div>
        </ons-row>
        <ons-row>
          <div style="margin: 0 auto; text-align: center;">Llamar ahora</div>
        </ons-row>
      </ons-col>
    </ons-row>
  </div>
  <div class="bottom">
    <ons-row class="bottom-advice margin-top">
      <div>Programa tu pedido y suma puntos</div>
    </ons-row>
  </div>
</ons-page>