<ons-page ng-controller="RegisterBillingController as register" class="flexbox-container gray-b">
  <ons-toolbar>
    <div class="left">
      <div class="left"><ons-back-button>Atras</ons-back-button></div>
    </div>
    <div class="center">
      <span class="title-toolbar">Facturación</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div class="flex-fill-vertically padding-2x row-separation-sm">
    <ons-row>
      <div class="title-header">
        <div class="header-icon">
          <img src="assets/img/logo-white.png" style="width: 16px;" />
        </div>
        Tus datos de facturación
      </div>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-icon blue" width="48px">
        <ons-icon icon="fa-user"></ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="name" placeholder="Nombre" float style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-icon blue" width="48px">
        <ons-icon icon="fa-file-text-o"></ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="rfc" placeholder="RFC" float style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-icon blue" width="48px">
        <ons-icon icon="fa-map-marker"></ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="address" placeholder="Calle ##" float style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-input">
        <ons-input type="text" id="neighborhood" placeholder="Colonia" float style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-input">
        <ons-input type="rfc" id="city" placeholder="Ciudad, Estado" float style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-icon blue" width="48px">
        <ons-icon icon="fa-envelope"></ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="email" placeholder="Correo" float style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
  </div>
  <div class="bottom">
    <ons-row>
      <ons-button
            class="margin-top margin-bottom orange-b"
            modifier="large" 
            style="font-size: 1em;"
            ng-click="save()">
       Guardar 
      </ons-button>
    </ons-row>
  </div>
</ons-page>