<ons-page class="flexbox-container" ng-controller="NotRegisteredController as notRegister" ons-init="notRegister.init($event)">
  <ons-toolbar>
    <div class="left"><ons-back-button>Atras</ons-back-button></div>
    <div class="center">
      <span class="title-toolbar">Registro</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>

<div class="flex-fill-vertically padding-2x row-separation-sm">
    <ons-row>
      <div class="title-header">
        <ons-icon class="header-icon" icon="fa-pencil">
        </ons-icon>
        Registra tus datos
      </div>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-icon blue" width="48px">
        <ons-icon icon="fa-user"></ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="name" placeholder="Nombre" ng-model="notRegister.client.nombre_cliente" style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-icon blue" width="48px">
        <ons-icon icon="fa-envelope"></ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="email" placeholder="Correo" ng-model="notRegister.client.correo_cliente" style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-icon blue" width="48px">
        <ons-icon icon="fa-map-marker">
        </ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="address" placeholder="Calle y Número" ng-model="notRegister.client.direccion_cliente" style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-input">
        <ons-input type="rfc" id="city" placeholder="Colonia" ng-model="notRegister.client.colonia_cliente" style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
        <ons-col class="text-field-input">
          <ons-input type="text" id="place" placeholder="Ciudad" ng-model="notRegister.client.poblacion_cliente" readonly style="width: 90%;"></ons-input>
        </ons-col>
     </ons-row>
    <ons-list style="background: transparent;">
    <ons-row>
  </ons-row>
    <ons-row align="center">
      <ons-row>
        <div class="title-header">
          <div class="header-icon">
            <img src="assets/img/logo-white.png" style="width: 16px;" />
          </div>
          Tipo de cliente
        </div>
      </ons-row>
      <ons-col 
         style="text-align: center;" 
         ng-class="{ 'service-not-selected': notRegister.client.tipo_servicio !== 'P' }"
         ng-click="notRegister.client.tipo_servicio = 'P'">
        <img src="assets/img/cylindrer.png" style="height: 64px" />
      </ons-col>
      <ons-col 
         style="text-align: center;" 
         ng-class="{ 'service-not-selected': notRegister.client.tipo_servicio !== 'E' }"
         ng-click="notRegister.client.tipo_servicio = 'E'">
        <img src="assets/img/tank.png"  style="height: 64px" />
      </ons-col>
    </ons-row>
  </ons-list>
  </div>
  <div class="bottom">
    <ons-row>
      <ons-button
            class="margin-top margin-bottom orange-b"
            modifier="large" 
            style="font-size: 1em;" 
            ng-click="notRegister.register()">
        Registrar
        <ons-icon icon="fa-caret-right" style="margin-left: 8px; font-size: 1.2em;"></ons-icon>
      </ons-button>
    </ons-row>
  </div>
</ons-page>