<ons-modal var="pickerModal">
  <div style="background-color: rgb(40, 61, 158); width: 95%; margin: 0 auto; padding: 1em; box-sizing: border-box;">
    <ons-row>
      <ons-col align="center" class="number-indicator" style="display: flex">
        <div style="display: inline-block; margin: 0 auto;">
          <span 
                class="number" 
                ng-class="{ 'pickerSelected': settingsTE.hourSelected }"
                ng-click="settingsTE.selectHour()">
            {{ (settingsTE.time.period === 'PM' && settingsTE.time.hour === 0) ? 12 : ("0" + settingsTE.time.hour).slice(-2) }}
          </span>
          <span>:</span>
          <span 
                ng-class="{ 'pickerSelected': !settingsTE.hourSelected }"
                class="number" 
                ng-click="settingsTE.selectMinutes()">
            {{ ("0" + settingsTE.time.minutes).slice(-2) }}
          </span>
        </div>
      </ons-col>
      <ons-col width="80px">
        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; height: 100%;">
          <div ng-class="{ 'ampmSelected' : settingsTE.time.period === 'AM' }"
               class="ampmSelector" 
               ng-click="settingsTE.selectPeriod('AM')">
            AM
          </div>
          <div ng-class="{ 'ampmSelected' : settingsTE.time.period === 'PM' }"
               class="ampmSelector" 
               ng-click="settingsTE.selectPeriod('PM')">
            PM
          </div>
        </div>
      </ons-col>
    </ons-row>
    <ons-row style="margin: 16px 0; padding: 16px 0; border-top: 1px solid #8686ff; border-bottom: 1px solid #8686ff;">
      <spinner-selector 
            spinner-text="settingsTE.spinnerText" 
            spinner-value="settingsTE.spinnerValue" 
            spinner-base="settingsTE.spinnerBase" 
            on-change="change" 
            style="margin: 0 auto;">
      </spinner-selector>
      <ons-row align="center" style="margin-top: 16px;">
        <ons-col style="text-align: left;">
          <ons-switch class="orange" ng-model="settingsTE.time.dayBefore"></ons-switch>
          <span style="display: inline-block; vertical-align: middle;">Un día antes</span>
        </ons-col>
        <ons-col width="64px" class="white mid-icon">
          <ons-icon icon="fa-clock-o"></ons-icon>
        </ons-col>
      </ons-row>
    </ons-row>
    <ons-row style="justify-content: space-around;">
      <ons-col width="45%">
          <ons-button
              class="margin-top orange-b"
              modifier="large"
              ng-click="settingsTE.confirm()">
            Conirmar
          </ons-button>
        </ons-col>
        <ons-col width="45%">
          <ons-button
              class="margin-top blue-b"
              modifier="large"
              ng-click="settingsTE.cancel()">
            Cancelar
          </ons-button>
        </ons-col>
    </ons-row>
  </div>
</ons-modal>