<ons-modal var="scheduleModal">
  <div class="modal-dialog">
    <table style="width: 100%; table-layout: fixed;" class="schedule_table">
      <thead>
        <tr>
          <th colspan="2">
            Ago
          </th>
          <th>
            L
          </th>
          <th>
            M
          </th>
          <th>
            M
          </th>
          <th>
            J
          </th>
          <th>
            V
          </th>
          <th>
            S
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            9-10 am
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            9-10 am
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            9-10 am
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            9-10 am
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            9-10 am
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            9-10 am
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            9-10 am
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            9-10 am
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            9-10 am
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            9-10 am
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="padding" style="text-align: left;">
      <ons-row>
        <ons-col width="30px" class="selected">
        </ons-col>
        <ons-col style="padding-left: 8px;">
          Seleccionado
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col width="30px" class="no-points">
        </ons-col>
        <ons-col style="padding-left: 8px;">
          No genera puntos
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col width="30px" class="no-available">
        </ons-col>
        <ons-col style="padding-left: 8px;">
          No disponible
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col width="30px" class="more-points">
        </ons-col>
        <ons-col style="padding-left: 8px;">
          Genera más puntos
        </ons-col>
      </ons-row>
      <ons-row style="justify-content: space-around;">
      <ons-col width="45%">
        <ons-button
            class="margin-top blue-b"
            modifier="large"
            ng-click="cancelSchedule()">
          Cancelar
        </ons-button>
      </ons-col>
      <ons-col width="45%">
        <ons-button
            class="margin-top orange-b"
            modifier="large"
            ng-click="confirmSchedule()">
          Programar
        </ons-button>
      </ons-col>
    </ons-row>
    </div>
  </div>
</ons-modal>