.logo-toolbar,
.title-toolbar {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 16px;
}

.splitter-menu {
  
}

.gray-b .page__content {
  background-color: #f7f7f7 !important;
}

.page-center .page__content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.splitter-menu .splitter-header {
  background: linear-gradient(to right, #f4a900, #ef8122);
  padding: 2em 1em;
}

.profile-user-img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 96px;
  width: 96px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.splitter-menu .splitter-header .user-name {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

ons-toolbar {
  background: linear-gradient(#f4a900, #ef8122) !important;
  color: #ffffff !important;
}

ons-toolbar * {
  color: #ffffff !important;
  fill: #ffffff !important;
}

.bottom {
  padding: 8px 8px 0 8px;
}

.bottom-fixed {
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 8px;
}

.bottom > * {
  margin-top: 8px;
}

.bottom-advice {
  background: #adadad;
  border-radius: 5px;
}

.bottom-advice > div {
  text-align: center;
  margin: 0 auto;
  padding: 0.5em;
}

.flexbox-container > div {
  display: flex;
  flex-direction: column;
}

.flex-fill-vertically {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.margin-top {
  margin-top: 16px;
}

.margin-bottom {
  margin-bottom: 16px;
}

.padding {
  padding: 8px;
  box-sizing: border-box;
}

.padding-2x {
  padding: 16px;
  box-sizing: border-box;
}

.big-icon {
  font-size: 3em;
  text-align: center;
}

.mid-icon {
  font-size: 2em;
  text-align: center;
}

.form-list > * {
  padding: 0.5em 0;
}

.red {
  color: #c33644;
}

.red-b {
  background: #c33644;
}

.orange {
  color: #f4ab0b;
}

.orange-b {
  background: linear-gradient(#f4a900, #ef8122);
}

orange-b.button--material:disabled, .button--material[disabled] {
    background: rgba(79,79,79,.26) !important;
}

.orange-b.button--material:active {
  background: linear-gradient(#f4a900, #ef8122);
}

.blue {
  color: #1d70b7;
}

.blue .progress-circular--material__primary {
  stroke: #1d70b7;
}

.blue-b {
  background: linear-gradient(#1d70b7, #1d3499) !important;
}

.blue-b.button--material:active {
  background: linear-gradient(#1d70b7, #1d3499) !important;
}

.blue-o {
  background: transparent;
  color: #1d70b7;
  border: 1px solid #1d70b7;
  box-shadow: none;
}

.blue-o.button--material:active {
  background: transparent;
  color: #1d70b7;
  border: 1px solid #1d70b7;
  box-shadow: none;
}

.white {
  color: #ffffff;
}

.bold {
  font-weight: bold;
  padding: 5px 0;
}

.full-progress-bar {
  width: 100%;
}

.container-relative {
  position: relative;
  overflow: hidden;
}

.center-in-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    margin: 35% 25%;
}

.no-shadow {
  box-shadow: none;
}

.shadow {
  box-shadow: 0 1px 5px rgba(0,0,0,.3); */
}

.center-text {
  text-align: center;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-separation ons-row {
  padding: 1em 0;
}

.row-separation-sm ons-row {
  padding: 0.5em 0;
}

.table {
  width: 100%;
  margin-top: 1em;
}

.table th {
  background: linear-gradient(#1d70b7, #1d3499);
  color: #fff;
  padding: 0.5em 0;
}

.table td {
  background: linear-gradient(#f4a900, #ef8122);
  padding: 0.5em 0;
  text-align: center;
  color: white;
}

.table tr {
  background: transparent;
}

.table tr:nth-child(odd) {
  background: #e0e0e0;
}

.cylinder-label {
  font-size: 3em;
  color: #585858;
  padding: 1em 0 0 0;
}

.list-big-items ons-list {
  border-top: 1px solid #ccc;
}

.list-big-items ons-list-item:last-child {
  margin-bottom: 1em;
}

.list-big-items ons-list-item {
  padding: 0;
  border-bottom: 1px solid #ccc;
  color: #6b6b6b;
}

.list-big-items ons-list-item > div {
  padding: 2em 1em;
}

.list-big-items ons-list-item > div > div {
  margin: 0 auto;
}

.gray-header {
  font-size: 1.5em;
  padding: 0.5em;
  background: #dadada;
}

.schedule-circle {
  margin: 0 auto;
  font-size: 2.5em;
  border: 6px solid currentColor;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  text-align: center;
  line-height: 65px;
}

.phone-circle {
  margin: 0 auto;
  font-size: 2.5em;
  border: 6px solid currentColor;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  text-align: center;
  line-height: 70px;
}

.flip-digit {
  background: #4244e4;
  color: #fff;
  padding: 6px 8px;
  margin: 0 -3px;
}

.modal-dialog {
  background: #fff;
  color: #000;
  width: 90%;
  margin: 0 auto;
}

.schedule_table {
  background: #fff;
  color: #5d5d5d;
  font-weight: bold;
}

.schedule_table td,
.schedule_table th {
  background: #ececec;
}

.schedule_table th:nth-child(1) {
  background: #cccccc;
}

.schedule_table td:nth-child(1) {
  background: #cccccc;
}

.schedule_table td {
  height: 25px;
}

.selected {
  background: green;
}

.no-points {
  background: tomato;
}

.no-available {
  background: gray;
}

.more-points {
  background: #f4ab0b;
}

.margin-auto {
  margin: 0 auto;
  text-align: center;
}

.dotstyle {
  text-align: center;
}

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 12px;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255,255,255,0.3);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	position: absolute;
}

.dotstyle-fillup li a {
	overflow: hidden;
	background-color: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 2px rgb(125, 125, 125);
	transition: background 0.3s;
}

.dotstyle-fillup li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: rgb(125, 125, 125);
    border-radius: 50%;
	box-shadow: 0 0 1px #fff;
	transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
	background-color: rgba(0,0,0,0.2);
}

.dotstyle-fillup li.current a::after {
	height: 100%;
}

.clock-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20000;
}

.clock-layout img {
  width: 100%;
  height: 100%;
}

.clock-layout img.svg {
  border: 2px solid transparent;
  border-radius: 50%;
}

.center_indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator {
  background: white;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  background: white;
  background: rgb(40, 61, 158);
  border-radius: 50%;
  border: 20px solid white;
  box-sizing: content-box;
}

.wrapper, .wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 280px;
  height: 280px;
}

.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: rgb(239, 128, 35);
  border: 2px solid rgb(40, 61, 158);
}

.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  /*animation: rota 5s linear infinite;*/
}

.wrapper:hover .spinner,
.wrapper:hover .filler,
.wrapper:hover .mask {
  animation-play-state: running;
}

.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  /*animation: opa 5s steps(1, end) infinite reverse;*/
  border-left: none;
}

.wrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  /*animation: opa 5s steps(1, end) infinite;*/
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.wrapper-light {
  position: relative;
  margin: 0 auto;
  background: rgb(40, 61, 158);
  background: white;
  border-radius: 50%;
  border: 20px solid rgb(40, 61, 158);
  box-sizing: content-box;
}

.wrapper-light, .wrapper-light * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper-light {
  width: 280px;
  height: 280px;
}

.wrapper-light .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: rgb(239, 128, 35);
  /*border: 2px solid rgb(40, 61, 158);*/
}

.wrapper-light .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  animation: rota 2s linear infinite;
}

.wrapper-light:hover .spinner,
.wrapper-light:hover .filler,
.wrapper-light:hover .mask {
  animation-play-state: running;
}

.wrapper-light .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  animation: opa 2s steps(1, end) infinite reverse;
  border-left: none;
}

.wrapper-light .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  animation: opa 2s steps(1, end) infinite;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.wrapper-light.sm {
  width: 250px;
  height: 250px;
}

.wrapper-light.no-animate .spinner {
  animation: none;
}

.wrapper-light.no-animate .filler {
  animation: none;
}

.wrapper-light.no-animate .mask {
  animation: none;
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opa {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.number-indicator {
  font-size: 80px;
}

.number-indicator span {
  float: left;
}

.number-indicator .number {
  display: inline-flex;
  padding: 5px 10px;
}

.pickerSelected {
  border: 2px solid currentColor;
  color: #f4ab0b;
}

.ampmSelector {
  border: 2px solid white;
  padding: 5px;
  margin: 8px 0;
}

.ampmSelector.ampmSelected {
  border: 2px solid #f4ab0b;
  background-color: #f4ab0b;
}

.orange :checked+.switch--material__toggle {
  background-color: #f4ab0b !important;
}

.orange :checked+.switch--material__toggle>.switch--material__handle {
  background-color: #f57000 !important;
}

.orange .progress-circular--material__primary {
  stroke: #f57000 !important;
}

.blue .checkbox__checkmark:before {
  border: 2px solid #1d56aa !important;
}

.blue :checked+.checkbox--material__checkmark:before {
  border: 2px solid #1d3499;
  background-color: transparent !important;
}

.blue :checked+.checkbox__checkmark:before {
  background: white !important;
  border: 2px solid #1d56aa !important;
}

.blue .checkbox__checkmark:after {
  border: 2px solid #f4a602 !important;
  border-top: none !important;
  border-right: none !important;
  border-width: 2px !important;
}

.blue .checkbox--material__checkmark:after {
  border-color: #f4ab0b !important;
}

.blue .checkbox--material__checkmark:before {
    border: 2px solid #1d3499;
}

.toolbar-button--material:after,
.back-button--material:after {
  content: '';
  border: 1px solid white;
  margin-left: 12px;
}

.menu-icon {
  margin-right: 16px;
  width: 25px;
  text-align: center;
}

.list-item-none-divider .list-item__center {
  background: none;
}

.menu-selected {
  background: linear-gradient(to right, #f4a900, #ef8122);
  color: white;
}

.title-header-orange,
.title-header {
  width: 100%; 
  color: white;
  padding: 8px 4px;
  border-radius: 2px;
}

.title-header {
  background: linear-gradient(#1d70b7, #1d3499) !important;
}

.title-header-orange {
  background: linear-gradient(#f4a900, #ef8122) !important;
}

.title-header-orange .header-icon,
.title-header .header-icon {
  width: 28px;
  border-right: 2px solid white;
  text-align: left;
  margin-right: 4px;
  text-align: center;
  padding-right: 2px;
  display: inline-block;
  vertical-align: middle;
}

.title-header-light {
  width: 100%;
  background: transparent;
  color: #ef8122;
  padding: 8px 4px;
  border-radius: 2px;
}

.title-header-light .header-icon {
  width: 28px;
  border-right: 2px solid #ccc;
  color: #1d70b7;
  text-align: left;
  margin-right: 4px;
  text-align: center;
  padding-right: 2px;
  display: inline-block;
  vertical-align: middle;
}

.service-not-selected {
  opacity: 0.2;
}

.text-field {
  background-color: white;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  margin: 8px 0;
}

.text-field .text-field-icon {
  font-size: 24px;
  text-align: center;
  border-right: 1px solid #c5c5c5;
}

.text-field .text-field-input {
  margin-left: 16px;
  padding-right: 16px;
}

.text-field .text-input--material {
  background: none !important;
}

.text-field .select-input--material {
  background: none !important;
}

ons-select.text-box {
  position: relative;
}

ons-select.text-box:after {
  content: '\25BC';
  position: absolute;
  right: 0.5em;
  top: 8px;
  bottom: 8px;
  line-height: 32px;
  color: #848484;
  border-left: 01px solid #cccccc;
  padding-left: 0.5em;
}

.orange-blue :checked+.switch--material__toggle {
  background-color: #1d70b7 !important;
}

.orange-blue :checked+.switch--material__toggle > .switch--material__handle {
  background-color: #f4ab0b !important;
}

.orange-blue :checked+.switch__toggle {
  background-color: #1d70b7 !important;
  box-shadow: none !important;
}

.orange-blue :checked+.switch__toggle > .switch__handle {
  background-color: #f4ab0b !important;
}

.blue .radio-button--material__checkmark:before {
  border: 2px solid #1d70b7 !important;
}

.blue :checked+.radio-button--material__checkmark:before {
  border: 2px solid #1d70b7 !important;
}

.blue :checked+.radio-button--material__checkmark:after {
  background: #f4ab0b !important;
}

.padding-2x-h {
  padding: 0 16px;
  box-sizing: border-box; 
}

.progress_bar {
  height: 20px;
  background: #1d70b7;
  display: inline-block;
  transition: width 1s linear;
}

.plus-minus-circle {
  border: 2px solid black;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.text-box {
  border: 1px solid #ccc;
  color: #565656;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 2px;
  background-color: white;
}

.text-box .select-input--material {
  background-image: none !important;
}

.blue-happy {
  color: #4767f5;
}

.red-angry {
  color: #ff6347;
}

ons-list {
  background: transparent !important;
}

.progress-circular--material__background {
    stroke: transparent !important;
}

.modal-flex[style='display: table; z-index: 10001;'] {
  display: flex !important;
}

.scroll {
    overflow-y: auto;
}

.scroll::-webkit-scrollbar-track,
.scroll *::-webkit-scrollbar-track
{
    /*background-color: #F5F5F5;*/
}

.scroll::-webkit-scrollbar,
.scroll *::-webkit-scrollbar
{
    width: 6px;
    /*background-color: #F5F5F5;*/
}

.scroll::-webkit-scrollbar-thumb,
.scroll *::-webkit-scrollbar-thumb
{
    background-color: #b7b7b7;
}